<!DOCTYPE html>
<html>
<head>
  <title>PersonalGoalsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <a href="<%= root_url %>">Achievements</a>

<% if logged_in? %>
  <%= current_user.username %>
  <form action="<%= session_url %>" method="post">
    <%= authenticity_token %>
    <input type="hidden" name="_method" value="delete">
    <button>Log Out</button>
  </form>
<% else %>
  <a href="<%= new_session_url %>">Log In</a>
  <a href="<%= new_user_url %>">Sign Up</a>
<% end %>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <ul>
      <li><%= error %></li>
    </ul>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
